div.contact_content {
    display: flex;
    flex-direction: row;
}

div.email_webform {
    display: flex;
    float: left;
    max-width: 27rem;
    border-color: #DADADA;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    padding: 1rem;
}

div.social_media_profiles {
    display: block;
    float: left;
    margin-left: 2.0rem;
    margin-right: 1.0rem;
}

div.social_media_profile {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

div.social_media_profile a {
    display: flex;
}

img.social_media_icon {
    height: 1.66rem;
    width: 1.66rem;
    padding-right: 1vh;
}

/* medium to small screen */
@media screen and (max-width: 40rem) {

    div.contact_content {
        flex-direction: column;
    }

    div.email_webform {
        width: 100%;
    }

    div.social_media_profiles {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.0rem;
    }

}
