/* header - flex */
header {
    width: inherit;
    /* border-bottom: 1px #CCCCEE solid;*/
    border-bottom: 1px solid #e5e3dd;
    background-color: #ffffff;
}

header div.container {
    max-width: 50em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* we will used flex grid, 3-columns equally spaced */
    margin: auto;
    color: var(--global-font-color-dark);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

header div.container h1 {
    font-size: 1em;
    line-height: 1.57em;
    grid-column: 1;      /* position */
    justify-self: left;  /* position */
}

header div.container h1 a.big-name {
    display: block;
}

header div.container h1 a.small-name {
    display: none;
}

header div.container h1 a.big-name {
    display: block;
}

header div.container h1 a.small-name {
    display: none;
}

/* small screen: drop down menu */
@media screen and (max-width: 52rem) {
    header div.container h1 {
        padding-left: 0.8rem;
    }
}

/* small screen: drop down menu */
@media screen and (max-width: 30rem) {
    
    header div.container h1 a.big-name {
        display: none;
    }
    
    header div.container h1 a.small-name {
        display: block;
    }

}

/****************** MENUS **********************/

header div.container nav {
    font-size: 1.2em;
    grid-column: 2;
    justify-self: end;
    justify-content: end;
}


li.dropdown-item {
    font-size: var(--header-links-font-size);
    cursor: pointer;
    border-style: solid;
    padding-left: var(--header-dropdown-item-padding-left);
    padding-bottom: var(--header-dropdown-item-padding-bottom);
    border-top-width: var(--header-dropdown-item-boder-width);
    border-left-width: var(--header-dropdown-item-boder-width);
    border-right-width: var(--header-dropdown-item-boder-width);
    border-style: var(--header-dropdown-item-boder-style);
    border-color: var(--header-dropdown-item-boder-color);
    background-color: var(--header-dropdown-item-bg-color);
}

li.dropdown-item-mid {
    border-bottom-width: 0px;
}

li.dropdown-item-last {
    border-bottom-width: var(--header-dropdown-item-boder-width);
}

li.dropdown-item:hover {
    background-color: bisque;
}


/****************** MENU PAGE ******************/


ul.menu-pages-list li {
    display: inline;
    padding-right: 2rem;
    font-size: var(--header-links-font-size);
}


div.menu-pages {
    display: inline-block;
}

/* "menu" button */
div.menu-pages span {
    display: none;
}


/* small screen: drop down menu */
@media screen and (max-width: 38rem) {

    /* "menu" button */
    div.menu-pages span {
        display: block;
        cursor: pointer;
        padding-right: 1.5rem;
        font-size: var(--header-links-font-size);
    }

    ul.menu-pages-list {
        list-style: none;
        display: none;
    }

    ul.menu-pages-list li:hover {
        background-color: bisque;
    }

    ul.menu-pages-list li {
        display: block;
        cursor: pointer;
        left: -3rem;
        position: relative;
        width: 6rem;
        padding-right: 0rem;
        border-style: solid;
        padding-left: var(--header-dropdown-item-padding-left);
        padding-bottom: var(--header-dropdown-item-padding-bottom);
        border-top-width: var(--header-dropdown-item-boder-width);
        border-left-width: var(--header-dropdown-item-boder-width);
        border-right-width: var(--header-dropdown-item-boder-width);
        border-style: var(--header-dropdown-item-boder-style);
        border-color: var(--header-dropdown-item-boder-color);
        background-color: var(--header-dropdown-item-bg-color);
    }

    li.mid {
        border-bottom-width: 0px;
    }
    
    li.last {
        border-bottom-width: var(--header-dropdown-item-boder-width);
    }

    /* show drop down */
    div.menu-pages:hover ul.menu-pages-list {
        position: absolute;
        display: block;
    }

}


/****************** MENU LANG ******************/

div.menu-language {
    font-size: var(--header-links-font-size);
    cursor: pointer;
    display: inline-block;
}

ul.menu-language-list {
    list-style: none;
    display: none;
}

ul.menu-language-list li {
    cursor: pointer;
    border-color: #777777;
    background-color: rgb(255, 255, 255);
    left: -3.5rem;
    position: relative;
    width: 4.5rem;
    padding-left: 0.2rem;
}

div.menu-language:hover ul.menu-language-list {
  position: absolute;
  display: block;

  width: 3em;
  padding-left: -100px;
}

div.menu-language:hover ul.menu-language-list li {
    padding-left: -2rem;
    position: relative;
}

/* medium to small screen */
@media screen and (max-width: 50.8em) {

    div.menu-language {
        padding-right: 0.8em;
    }

}