/* header - flex */
header {
    width: inherit;
    border-bottom: 1px #CCCCEE solid;
    background-color: #efefef;
}

header div.container {
    max-width: 50em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* we will used flex grid, 3-columns equally spaced */
    margin: auto;
}

header div.container h1 {
    font-size: 1.2em;
    line-height: 1.57em;
    grid-column: 1;      /* position */
    justify-self: left;  /* position */
}

header div.container nav {
    font-size: 1.2em;
    grid-column: 2;
    justify-self: end;
    justify-content: end;
}


/****************** MENU PAGE ******************/

ul.menu-pages-list {
    list-style: none;
    display: none;
}

ul.menu-pages-list li {
    cursor: pointer;
    border: solid;
    background-color: azure;
}

div.menu-pages {
    cursor: pointer;
    border: solid;
    display: inline-block;
}

div.menu-pages:hover ul.menu-pages-list {
    position: absolute;
    display: block;
  }

/****************** MENU LANG ******************/

ul.menu-language-list {
    list-style: none;
    display: none;
}

ul.menu-language-list li {
    cursor: pointer;
    border: solid;
    background-color: azure;
}

div.menu-language {
    cursor: pointer;
    border: solid;
    display: inline-block;
}

div.menu-language:hover ul.menu-language-list {
  position: absolute;
  display: block;

  width: 3em;
  padding-left: -100px;
}

div.menu-language:hover ul.menu-language-list li {
    padding-left: -100px;
  }