main {
    display: flex;
    justify-content: center;
    height: auto;
}

main div.content {
    color: var(--global-font-color-regular);
    width: 50rem;
    max-width: 50rem;  /* avoid using px, use TODO instead */
    margin: auto;
    display: inline-block;
    border-width: 0 1px 1px 1px;
    border-color: #e5e3dd;;
    border-style: solid;
    border-radius: 0rem 0rem 1rem 1rem;
    background-color: #ffffff;
}

main div.content h1 {
    font-size: 1.2rem;
    padding-left: 1.0rem;
    padding-top: 0.7rem;
    padding-bottom: 0.5rem;
}


footer {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
}

footer div.content {
    width: 50rem;
    max-width: 50rem;  /* avoid using px, use TODO instead */
    margin: auto;
    display: inline-block;
    border: 0px red solid;
    text-align: right;
    font-size: 0.6rem;
}

@media screen and (max-width: 50rem) {

    main div.content {
        width: 95%;
        max-width: 95%;  /* avoid using px, use TODO instead */
    }
}